#QCOM sensors
service sensors /system/bin/sensors.qcom
    class main
    user root
    group root

#OSS WLAN setup
service macaddrsetup /system/bin/macaddrsetup /sys/devices/fb000000.qcom,wcnss-wlan/wcnss_mac_addr
    class main
    user root
    oneshot

