#SONY misc
service tad_static /system/bin/tad_static /dev/block/mmcblk0 1,16
    user root
    group root
    socket tad stream 0660 system system
    class core

#QCOM sensors
service sensors /system/bin/sensors.qcom
    class main
    user root
    group root

#OSS WLAN setup
service wcnss_addr /system/bin/wcnss_addr /sys/devices/fb000000.qcom,wcnss-wlan/wcnss_mac_addr
    class main
    user root
    oneshot

#OSS BT setup
service bt_addr /system/bin/bt_addr
    class late_start
    user root
    group root
    oneshot
